*.a
*.o
.deps
Makefile
Makefile.in
*.log
*.trs
.dirstamp

*/INSTALL
*/aclocal.m4
*/ar-lib
/internetStatistics/autom4te.cache
/internetStatistics/compile
/internetStatistics/config.guess
/internetStatistics/config.h
/internetStatistics/config.h.in
/internetStatistics/config.h.in~
/internetStatistics/config.log
/internetStatistics/config.status
/internetStatistics/config.sub
/internetStatistics/configure
/internetStatistics/depcomp
/internetStatistics/install-sh
/internetStatistics/libtool
/internetStatistics/ltmain.sh
/internetStatistics/missing
/internetStatistics/stamp-h1
/internetStatistics/test-driver

.DS_Store
/build
/.vscode
